<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Page de connexion</h1>

<form th:action="@{/perform_login}" method="post">
    <div>
        <label>Nom d'utilisateur :</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label>Mot de passe :</label>
        <input type="password" name="password" required>
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>

<!-- Messages -->
<div th:if="${param.error}">
    <p style="color:red;">Nom d'utilisateur ou mot de passe incorrectes.</p>
</div>
<div th:if="${param.logout}">
    <p style="color:green;">Vous êtes déconnecté.</p>
</div>

</body>
</html>
