<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de bienvenue</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
    <h1>Bienvenue</h1>
    <form th:action="@{/welcome}" th:object="${userForm}" method="post">
        <div class="form-row">
            <input type="text" th:field="*{name}" placeholder="Nom"/>
            <input type="number" th:field="*{age}" placeholder="Âge"/>
        </div>

        <div th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}" style="color:red;"></p>
        </div>

        <button type="submit">Envoyer</button>
    </form>

    <div th:if="${message}" style="text-align:center; margin-top:20px; color:green;">
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>


